div#lookup
{
font-family: Times New Roman,Times,serif; 
font-size: xx-large; 
background-color: #00ffff; 
}
div#results
{
font-family: Times New Roman,Times,serif; 
font-size: xx-large; 
background-color: #80ff80;
}
div#add_to_deck
{
font-family: Times New Roman,Times,serif; 
font-size: xx-large; 
background-color: #80ff80;
}
span#simplified_character
{
font-size: 400%;
}
.character
{
font-size: 800%;
}
.pinyin
{
font-size: large;
}